# Loading Packages / Libararies in R

Just like in python, and other languages, you can extend the functionality of R by loading additional packages.

Packages are loaded in R using the `library()` function.
Libraries brind additional functions into scope of execution, making them available to run.

In [1]:
library(dplyr)

df <- read.csv("/dsa/data/all_datasets/auto-mpg/auto-mpg.csv")

head(df)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

  mpg cylinders displacement horsepower weight acceleration model.year origin
1 18  8         307          130.0      3504   12.0         70         1
2 15  8         350          165.0      3693   11.5         70         1
3 18  8         318          150.0      3436   11.0         70         1
4 16  8         304          150.0      3433   12.0         70         1
5 17  8         302          140.0      3449   10.5         70         1
6 15  8         429          198.0      4341   10.0         70         1
  car.name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino
6 ford galaxie 500

This library brought a suite of new functions and even a new operator, **`%>%`**.

In this example, the library we loaded, `dplyr`, allows us to perform SQL like actions on the data frame.

In [2]:
df %>%
    group_by(cylinders) %>%   # Group the rows based on number of cylinders
    filter(displacement == max(displacement)) %>%    # find the max(displacement) for each number of cylinders
                # Then filter to just the rows that are the max(displacement) rows
    head()

  mpg  cylinders displacement horsepower weight acceleration model.year origin
1 14.0 8         455          225.0      4425   10.0         70         1
2 14.0 8         455          225.0      3086   10.0         70         1
3 12.0 8         455          225.0      4951   11.0         73         1
4 21.5 3          80          110.0      2720   13.5         77         3
5 23.2 4         156          105.0      2745   16.7         78         1
6 25.4 5         183          77.00      3530   20.1         79         2
  car.name
1 pontiac catalina
2 buick estate wagon (sw)
3 buick electra 225 custom
4 mazda rx-4
5 plymouth sapporo
6 mercedes benz 300d

## Many more libraries

In this class, we will focus on data manipulation and plotting packages, however there an extensive set available.

Besides `dplyr`, some other useful ones include:
  * ggplot2 - Grammar of Graphics plot library
  * stringr - String operations
  * sqldf - SQL interface to Data Frames
  * Various Database Interfaces
    * RPostgreSQL
    * RSQLite
    * RMongo
  

The list goes on and on, a comprehensive list is availabe here:  https://cran.r-project.org/web/packages/available_packages_by_name.html